@import url("https://fonts.googleapis.com/css2?family=Asap:wght@100&family=Cardo&family=Crimson+Text&family=IBM+Plex+Sans+Condensed&display=swap");

body {
  margin: 0;
  position: relative;
  font-family: "Asap", sans-serif;
  background-color: #f6f7ff;
}

/*..................................... HEADER */
header {
  background-color: #8881d0;
  display: flex;
  height: 5rem;
  width: 100vw;
  position: sticky;
}

.teacherprofil {
  display: flex;
  align-items: center;
}

#imgProfil {
  width: 3rem;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 15px;
}

h1 {
  font-size: 15px;
  color: white;
  margin-left: 8px;
}

nav {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

.secondPart {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-size: 15px;
}

#signout {
  width: 25px;
  height: auto;
  margin-left: 10px;
  margin-right: 15px;
}

/* ...........................CONTAINER */
.container {
  text-align: center;
}

h2 {
  font-size: 20px;
}

#quarters {
  background-color: #ff8a65;
  border: none;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  font-size: 13px;
  margin-bottom: 15px;
  cursor: pointer;
  /* appearance: none; */
  font-family: "Asap", sans-serif;
}

#btnAdd {
  background-color: #5bbd7c;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  font-size: 13px;
  cursor: pointer;
  margin-right: 5px;
  font-family: "Asap", sans-serif;
}

.tableStudents {
  height: 50vh;
  overflow: scroll;
}

table {
  margin-left: 20px;
  margin-right: 15px;
  border-collapse: collapse;
}
th {
  border: 1px solid black;
  padding: 5px;
}
td {
  text-align: left;
  padding: 3px;
  margin-left: 10px;
}

#numberStudents {
  width: 15rem;
  text-align: center;
}

h4 {
  text-align: left;
  font-size: 15px;
}

.mediumClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 12vh;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}

/*.................................. FOOTER */

footer {
  background-color: #8881d0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100vw;

  position: fixed;
  bottom: 0;
}

.footerElements {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h6 {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 10px;
  color: white;
}

@media screen and (min-width: 769px) {
  header {
    height: 7rem;
    width: 100vw;
  }
  .imgProfil {
    margin-left: 20px;
  }
  .container {
    width: 25vw;
    margin-left: 15px;
  }
}
