@import url("https://fonts.googleapis.com/css2?family=Asap:wght@100&family=Cardo&family=Crimson+Text&family=IBM+Plex+Sans+Condensed&display=swap");

/*------------------------------------------------BODY -------- */

html, body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: "Asap", sans-serif;
  background-color: #f6f7ff;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-size: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(133, 133, 133);
  padding: 8px;
  text-align: left;
}

th {
  background-color: lightgray;
}

/*------------------------------------------------HEADER --------*/

#header {
  background-color: #8881d0;
  display: flex;
  height: 5rem;
  width: 100vw;
  position: sticky;
}

#headerNav {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

#teacherProfil {
  display: flex;
  align-items: center;
}

#imgProfil {
  width: 3rem;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 15px;
}

#teacherName {
  font-size: 32px;
  color: white;
  margin-left: 8px;
}

#secondPart {
  display: flex;
  align-items: center;
}

#signout {
  width: 25px;
  height: auto;
  margin-left: 10px;
  margin-right: 15px;
}


/* ---------------------------------------------- MAIN -------------*/

    #divTopInfo {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #subject {
      font-size: 42px;
      
    }

    #divSelects {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    #quarters {
      margin: 3vh;
      margin-bottom: 0vh;
      font-size: 17px;
      padding: 1.3vh 70px;
      background-color: #FF8A65;
      color: white;
      border: none;
      border-radius: 50px;
      text-align: center;
    }

    #quarters:hover {
      cursor: pointer;
    }

    #rating {
      margin: 2vh;
      margin-top: 1vh;
      margin-bottom: 6vh;
      font-size: 17px;
      padding: 1.3vh 45px;
      background-color: #5BBD7C;
      color: white;
      border: none;
      border-radius: 50px;
    }

    #rating:hover {
      cursor: pointer;
    }

#bottomInfo {
  display: flex;
  flex-direction: column;

}

#containerTabNotes {
  display: flex;
  justify-content: center;
}

#tabNotes {
  height: 55vh;
  width: 90vw;
  overflow-y: scroll;
}

#howmanyStudents {
  text-align: center;
}

#containerButtonBottom {
  background-color: red;
}

#divButton {
  background-color: #f6f7ff;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

#buttonModify {
  font-size: 17px;
  padding: 1.3vh 50px;
  background-color: #FF8A65;
  color: white;
  border: none;
  border-radius: 50px;
  max-height: 5vh;
}

#buttonAddRating {
  font-size: 17px;
  padding: 1.3vh 30px;
  background-color: #5BBD7C;
  color: white;
  border: none;
  border-radius: 50px;
  max-height: 5vh;
}

#divAverage {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  margin-bottom: 2rem;
}

#classAverage {
  margin: 3vh 8vw;
}

#classAverageNote {
  margin-right: 8vw;
  border: 2px solid rgb(170, 170, 170);
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
}
/* -----------------------------------------MODAL------------------ */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #f6f7ff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius : 20px;
  overflow-y: initial;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#topModalInfo {
  text-align: center;
}

#allBoxes {
  font-weight: bolder;
  font-size: 17px;
  display: flex;
  justify-content: space-around;
}

#boxAverageAll {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #9575CD;
  color: white;
  width: 12vh;
  height: 12vh;
}

#averageAllNotes {
  text-align: center;
  background-color: #fff;
  color: black;
  width: 90%;
  margin-left: 5%;
}

#boxAverageWritten {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #FF8A65;
  color: white;
  width: 12vh;
  height: 12vh;
}

#averageWrittenNotes {
  text-align: center;
  background-color: #fff;
  color: black;
  width: 90%;
  margin-left: 5%;
}

#boxAverageOral {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #6C6ACE;
  color: white;
  width: 12vh;
  height: 12vh;
}

#averageOralNotes {

  text-align: center;
  background-color: #fff;
  color: black;
  width: 90%;
  margin-left: 5%;
}

#tabForAllNotes {
  overflow-y: scroll;
  height: 30vh;
  margin-top: 4vh;
  /* background-color: rgb(255, 211, 211); */
}
/*--------------------------------------------- FOOTER ------------ */

#footer {
  background-color: #8881d0;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
}

#footerElements {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.titleH6 {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
  color: white;
}

/* -------------------------------------- MEDIA QUERIES --- */

@media screen and (min-width: 769px) {
  header {
    height: 7rem;
    width: 100vw;
  }
  .imgProfil {
    margin-left: 20px;
  }
  .container {
    width: 25vw;
    margin-left: 15px;
  }
}
