/* ---------------------------------------------------- BODY --- */


/* --------------------------------------------------- HEADER --- */
#topInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#backButton, a {
    color: black;
    background-color: #f6f7ff;
    border: none;
}

#backButton:hover {
    cursor: pointer;
}

#midInfo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7vh;
}

#dateAndQuarter {
    display: flex;
    flex-direction: column;
}

#start {
      margin: 3vh;
      margin-bottom: 0vh;
      font-size: 17px;
      padding: 1.3vh 70px;
      background-color: #5BBD7C;
      color: white;
      border: none;
      border-radius: 50px;
}

#coefficientChange {
    max-width: 60px;
}

#coefAndNote {
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    align-items: center;
    width: 30vw;
    font-size: 17px;
}

.inputNote {
    width: 97%;
    max-width: 60px;
    font-size: 17px;
} 

.bi:hover {
    cursor: pointer;
    color: #494949;
}

.bi:active {
    color: #909090;
}


/* --------------------------------------------------- MODAL DELETE SURE ? --- */
 
 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10vh auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

#buttonDeletion {
    display: flex;
    justify-content: space-around;
}

#textModalDeletion {
    margin-bottom: 10vh;
    margin-left: 32px;
    margin-top: 5vh;
}
/* --------------------------------------------------- MAIN --- */


/* --------------------------------------------------- FOOTER --- */