@import url("https://fonts.googleapis.com/css2?family=Asap:wght@100&family=Cardo&family=Crimson+Text&family=IBM+Plex+Sans+Condensed&display=swap");

/* ---------------------------------------------------- BODY --- */

body {
  position: relative;
  font-family: "Asap", sans-serif !important;
  background-color: #f6f7ff !important;
  margin: 0 !important;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 15px !important;
  color: white !important;
  margin-left: 8px !important;
}

h2 {
  font-size: 15px !important;
  padding-bottom: 0px !important;
}
h3 {
  font-size: 15px !important;
  margin-top: 2vh !important;
  margin-right: 10vw !important;
}
p {
  font-size: 10px !important;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-size: 15px;
}

h6 {
  margin-left: 15px !important;
  margin-right: 15px !important;
  font-size: 14px !important;
  color: white !important;
}

/* --------------------------------------------------- HEADER --- */

.header {
  background-color: #8881d0;
  display: flex;
  height: 12vh;
  width: 100vw;
  position: sticky;
}

#nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.studentprofil {
  display: flex;
  align-items: center;
}

#imgProfil {
  width: 3rem;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 15px;
}

.secondPart {
  display: flex;
  align-items: center;
}

#signout {
  width: 25px;
  height: auto;
  margin-left: 10px;
  margin-right: 15px;
}

#graph {
  cursor: pointer;
  color: white;
  font-size: 13px;
  background-color: #8881d0;
  border: none;
  margin-right: 8px;
}

/* --------------------------------------------------- MAIN --- */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
}

#summaryScore {
  flex-direction: row;
  text-align: center;
  display: flex;
  margin-top: 15px;
}

#numberOfScore {
  background-color: #9575cd;
  color: white;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 70px;
  width: 25vw;
  margin-right: 10px;
  padding-top: 12px;
}

#highestScore {
  background-color: #ff8a65;
  color: white;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 70px;
  width: 25vw;
  margin-right: 10px;
  padding-top: 12px;
}

#lowestScore {
  background-color: #6c6ace;
  color: white;
  border-radius: 8px;
  height: 70px;
  width: 25vw;
  padding-top: 12px;
}

select {
  display: flex;
  background-color: #ff8a65;
  border: none;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  font-size: 13px !important;
  margin-bottom: 15px;
  cursor: pointer;
  /* appearance: none; */
  font-family: "Asap", sans-serif;
}

#btnQuarters {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 2vh;
}

#containerTable {
  display: flex;
  height: 50vh;
  width: 80vw;
  height: 45vh;
  border-bottom: 1px solid black;
  overflow-y: scroll;
  scrollbar-color: blue orange;
  scrollbar-width: thin;
  margin-bottom: 10px;
}
#graphic {
  display: flex;
  height: 50vh;
  width: 80vw;
  height: 50vh;
  border: 1px solid black;
}
#AverageStudent {
  display: flex;
  margin-bottom: 10px;
  margin-left: 7vw;
  align-self: center;
  padding-bottom: 0 !important;
}
#average {
  border: none;
  background-color: #f6f7ff;
  padding-top: 0;
  font-size: 15px !important;
  margin-top: 2vh !important;
}
/*...................................Partie dans le JS */
#courseName {
  display: flex;
}

#subjectsTable {
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding-left: 2px;
}
#subjectCourses {
  border-bottom: 2px solid #5bbd7c;
  width: 70vw;
}
.datesAndGrades {
  display: flex;
  flex-direction: row;
}
#subjectGrades {
  display: flex;
  justify-content: space-between;
}
#gradesDetails {
  display: flex;
}
#btnOpenModal1 {
  border: none;
  color: red;
  background-color: #f6f7ff;
  cursor: pointer;
  padding-bottom: 5px;
  padding-top: 5px;
}
#btnOpenModalGrade {
  border: none;
  color: blue;
  background-color: #f6f7ff;
  cursor: pointer;
}
#gradeInTable {
  color: rgb(144, 16, 97);
  padding-right: 15px;
}

/* --------------------------------------------------- FOOTER --- */

footer {
  background-color: #8881d0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100vw;
  margin: none;
  bottom: 0;
  position: fixed;
}

.footerElements {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

/* ..................................................MODAL */

/* MODAL MATIERE */
.modal-body {
  display: flex;
  justify-content: center;
}

#mediumClassModal {
  background-color: #9575cd;
  color: white;
  height: 70px;
  width: 25vw;
  margin-right: 15px;
  padding-top: 12px;
  text-align: center;
}
#mediumGradeModal {
  background-color: white;
  color: black;
  border: 1px solid #9575cd;
  height: 27px;
  padding-top: 4px;
  font-size: 15px !important;
}
#mediumStudentModalCourse {
  background-color: #ff8a65;
  color: white;
  margin-bottom: 10px;
  height: 70px;
  width: 25vw;
  margin-right: 15px;
  padding-top: 12px;
  text-align: center;
  font-size: 15px;
}

#MediumStudentGradeModalCourse {
  background-color: white;
  color: black;
  border: 1px solid #ff8a65;
  height: 27px;
  padding-top: 4px;
  font-size: 15px;
}
#graphiqueStudentAverage {
  width: auto;
  margin-right: 5px;
}
/* ..............................MODAL DATE */
.modal-bodyDate {
  /* display: flex; */
  columns: 3;
  align-self: center;
}
.titleStudentGradeModal1 {
  background-color: #9575cd;
  color: white;
  margin-bottom: 10px;
  height: 70px;
  width: 25vw;
  padding-top: 12px;
  text-align: center;
}
.titleStudentGradeModal2 {
  background-color: #ff8a65;
  color: white;
  margin-bottom: 10px;
  height: 70px;
  width: 25vw;
  padding-top: 12px;
  text-align: center;
}
.titleStudentGradeModal3 {
  background-color: #6c6ace;
  color: white;
  margin-bottom: 10px;
  height: 70px;
  width: 25vw;
  padding-top: 12px;
  text-align: center;
}
.StudentGradeModal1 {
  background-color: white;
  color: black;
  border: 1px solid #9575cd;
  height: 27px;
  padding-top: 4px;
  font-size: 15px;
}
.StudentGradeModal2 {
  background-color: white;
  color: black;
  border: 1px solid #ff8a65;
  height: 27px;
  padding-top: 4px;
  font-size: 15px;
}
.StudentGradeModal3 {
  background-color: white;
  color: black;
  border: 1px solid #6c6ace;
  height: 27px;
  padding-top: 4px;
  font-size: 15px;
}

@media screen and (min-width: 769px) {
  /* ....................................BODY */

  body {
    width: 100vw;
    height: 100vh;
  }
  h1 {
    font-size: 20px !important;
    margin-left: 10px;
  }

  /*................................... HEADER */

  header {
    width: 100vw;
  }

  #imgProfil {
    width: 3vw;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 20px;
  }
  #graph {
    font-size: 20px;
    margin-right: 8vw;
  }
  #signpout {
    width: 6vw;
  }
  /*..................................... MAIN */
  #container {
    display: block;
    margin-left: 3vw;
    max-width: 50vw;
  }
  #summaryScore {
    width: 40vw;
  }
  #btnQuarters {
    width: 40vw;
  }
  #table {
    width: 40vw;
  }
  /*........................................MODAL*/
  .modal-bodyDate {
    /* columns: 3; */
    align-self: center;
    margin-top: 10px;
    padding-right: 0;
  }
  .titleStudentGradeModal1 {
    width: 120px;
  }
  .titleStudentGradeModal2 {
    width: 120px;
  }
  .titleStudentGradeModal3 {
    width: 120px;
  }
  #barCanvas {
    width: 100vw;
  }
  /*..................................... FOOTER */
  footer {
    height: 10vh;
    width: 100vw;
  }

  .footerElements {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
